{
  "ConnectionStrings": {
    "DefaultConnection": "Host=ep-muddy-dust-aq38aw2u-pooler.c-8.us-east-1.aws.neon.tech;Port=5432;Database=neondb;Username=neondb_owner;Password=YOUR_PASSWORD;SSL Mode=Require;Trust Server Certificate=true"
  },
  "Jwt": {
    "Key": "SFM_SuperSecret_Key_Change_In_Production_2026!",
    "Issuer": "SomaliFreelanceMarketplace",
    "Audience": "SFM_Users"
  },
  "Cors": {
    "AllowedOrigins": [
      "http://localhost:5173",
      "http://localhost:3000"
    ]
  },
  "Cloudinary": {
    "CloudName": "duwcqkdas",
    "ApiKey": "YOUR_API_KEY",
    "ApiSecret": "YOUR_API_SECRET",
    "Folder": "sfm"
  }
}
